#main {  
    font-family: sans-serif, serif; 
  }
  
  header {
    position: relative;
    text-align: center;
    color: black;
    height: auto;
  }
  
  #image {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  #img-caption {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
  }
  
  #tribute-info {
    position: relative;
    text-align: center;
    margin: auto;
  }
  
  footer { 
    position: relative;
    text-align: center;
    margin: auto;
  }